/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
    }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    }

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Poppins" "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #EFF1F7;
    color: #222;
    }

img {
    max-width: 100%;
    height: auto;
    }
a{
  text-decoration: none;
}
.button-blue {
  color: #fff;
  background-color: #2BD0D0;
  border-radius: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 700;
  border: 0;
}
  /* CONTAINER */
.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    }


  /* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
    }
/* HEADER */
.header {
  padding-bottom: 78px;
  padding-top: 48px;
  background-color: #fff;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__link {
  margin-right: 46px;
}
.header__img {
  display: block;
}
.navlist {
  margin-right: auto;
}
.navlist__list {
  list-style: none;
  display: flex;
}
.navlist__item:not(:last-child){
  margin-right: 29px;
}
.navlist__link {
  color: #9E9AA8;
  font-weight: 700;
}
.sign-up {
}
.sign-up__button {
  padding: 9px 24px 8px 24px;
}
.login{
  margin-right: 37px;
  color: #9E9AA8;
  font-weight: 700;
}
/* STATISTICS SECTION */
.hero {
  padding-top: 1px;
  padding-bottom: 150px;
  background-color: #fff;
}
.hero__container{
  position: relative;
  /* display: flex; */
}
.hero__info {
  width: 563px;
}
.hero__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 90px;
  margin-bottom: 8px;
}
.hero__paragraph {
  margin: 0;
  margin-bottom: 38px;
  font-weight: 500;
  font-size: 36px;
  color: #9E9AA8;
}
.hero__img {
  width: 733px;
  height: 482px;
  position: absolute;
  bottom: -70px;
  right: -270px;
}
.form {
  width: 1110px;
  height: 168px;
  position: absolute;
  transform: translateY(50%);
  background-color: #3A3054;
  padding: 52px 65px 52px 65px;
  border-radius: 10px;
  overflow: hidden;
}
.form__img-left{
  position: absolute;
  top: 29px;
  left: -134px;
}
.form__img-right{
  position: absolute;
  top: -184px;
  right: -252px;
}
.form__input {
  position: relative;
  z-index: 2;
  width: 769px;
  height: 64px;
  margin-right: 24px;
  border: 0;
  border-radius: 10px;
}
.form__button {
  position: relative;
  z-index: 2;
  height: 64px;
  border-radius: 10px;
}
/* STATISTICS SECTION */
.statistics {
  height: 700px;
  margin-bottom: 120px;
  margin-top: 90px;
  padding-top: 120px;
}
.statistics__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}
.statistics__paragraph {
  padding-bottom: 56px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: #9E9AA8;
}
.statistics__list {
  position: relative;
  list-style: none;
}
.statisticcs-list__img{
  position: absolute;
  top: 134px;
  left: 0;
}
.statistics__item {
  position: absolute;
  width: 350px;
  height: 267px;
  background-color: #fff;
  border-radius: 8px;
}
.statisticcs-list__item1{
  left: 0;
  top: 0;
}
.statisticcs-list__item2{
  left: 380px;
  top: 44px;
}
.statisticcs-list__item3{
  left: 760px;
  top: 88px;
}
.statistics__img-div{
  width: 88px;
  height: 88px;
  background-color: #3A3054;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 56px;
  transform: translateY(-50%);
}
.item__title {
  padding-top: 60px;
  padding-left: 32px;
}
.item__paragraph {
  margin: 0;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 41px;
}
/* LINKS SECTION */
.links {
  padding-top: 57px;
  padding-bottom: 57px;
  position: relative;
  background-color: #3A3054;
  overflow: hidden;
}
.links__decor-img1 {
  position: absolute;
  top: -300px;
  left: -300px;
}
.links__decor-img2 {
  position: absolute;
  right: -200px;
  top: -150px;
}
.links__decor-img3 {
  position: absolute;
  left: 100px;
  bottom:-300px;
  transform: rotateZ(-20deg);
}
.links__title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  text-align: center;
}
.links__button-div{
  display: flex;
  justify-content: center;
}
.links__button {
  position: relative;
  z-index: 2;
}
/* FOOTER SECTION */
.footer {
  padding-top: 72px;
  padding-bottom: 72px;
  color: #fff;
  background-color: #232127;
}
.footer__container{
  display: flex;
}
.footer__icon-link {
  margin-right: auto; 
}
.footer__list {
  padding: 0;
  margin-right: 100px;
  margin-top: 0;
  list-style: none;
  display: flex;
}
.footer__item:not(:last-child){
  margin-right: 78px;
}
.footer__link {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
.item-list {
  padding-left: 0;
  list-style: none;
  margin-top: 22px;
}
.item-list__item {
  margin-top: 10px;
}
.item-list__link {
  color: #BFBFBF;
  font-weight: 500;
  font-size: 15px;
}
.icons {
  margin-top: 0;
  display: flex;
  list-style: none;
}
.icons__item:not(:last-child){
  margin-right: 24px;
}
.icons__img {
  display: block;
}